<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Google Fonts</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link href = "{% static 'css/style.css' %}" rel = 'stylesheet'>
  </head>
  <body>
    <p class="regular">폰트 체크</p>
    <p class="medium">폰트 체크</p>
    <p class="bold">폰트 체크</p>
  </body>
</html>